.form{
    display: flex;    
    flex-direction: column;
    background-color: #fff;
    width: 80vw;     
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box; 
    /* align-items: stretch;
    justify-content: space-between;      */
}

.label-button-container{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 16px 0;
    color: #000;
    font-weight: 700;
}

.textarea{
    background-color: #fff;
    color: #000;
}   

.create-todo-bttn{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    color: #fff;    
    font-weight: 600;
    background-color: rgb(15, 139, 139);
}

.create-todo-bttn:hover{
    background-color: rgba(15, 139, 139, 0.666);
}

@media screen and (min-width: 600px) {
    .form{      
        width: 50vw;     
    }
}